
/*----BOTON TABLA ---*/


input, label {

    color: black !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default; 
    background-color: grey !important;
    border-color: grey !important;
}


.active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: grey !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}






.btnTabla{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
	margin: 0px;
	height: 30px !important;
    width: 110px !important;
    font-size: 14px !important;
    padding: 0px !important;
    border-radius: 5px;
    border: 0;
    background-color: grey !important;
}

.btnCategori{

    margin-top: 20px !important;
}


.btnTabla:hover{

    background-color:#252524 !important;
    color: white !important;
}


td{

background-color: white;
border:5px;
text-align: center;
}


th{

    text-align: center !important;
}

.imgTable{
margin:0 auto;
min-width: 150px !important;
max-width: 150px !important;
height: auto !important;
}

.contenido{
background-color: white;
padding: 20px !important;
margin-top: 30px !important;
margin-bottom: 30px !important;


}

active{

    background-color:#fff !important;

}

.adminSlider{
text-align: center;
margin-top: 30px !important;
}

.adminSlider  a:focus, .adminSlider a:hover,  .adminSlider a:active{
    text-decoration: none;
    background-color:#fff !important;
}


h3{

    font-size: 2em;
    float: left;

}

i{
margin-top: 10px;
font-size: 25px !important;
padding: 10px;
float: left;


}


.cabecera{

text-align: center;
border-bottom: 2px solid;

}

.estadis{

    margin-top: 10px;
}