

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body{

margin: 0;
padding: 0;
}

@font-face {
    font-family: FuenteFoto;
    src: url(../font/Comfortaa-Regular.ttf);
}

*{
 margin:0px;
 padding:0px;
}



.container-fluid {
 margin:0px;

}

.nomarggin{
 margin:0px;
 padding:0px;
}

#navInverse{
 margin:0px;
 padding:0px;
}

.row{
    margin:0;
     padding:0;
    
}

/*
.carousel,
.item,
.active {
    height: auto;

}

*/

.fondoVotar{

background-image: url('../image/votaFotos.jpg');
background-repeat:no-repeat;
min-height: 300px;
padding: 0px;
}


.btnRegistrarse{

    background-color:#9d9d97 !important;
    border-color:#9d9d97 !important;
    color: black  !important;

}

.btnRegistrarse:hover{
    background-color:#252524 !important;
    border-color: #252524 !important;
    color: white !important;

}

.btnPersonalizado:hover{
background-color: #9d9d97 !important;
border-color: #9d9d97 !important;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */


.carousel-indicators{
}

p{
    color: #9d9d97;
    font-size: 1.5em;
}

h2{

    font-size: 30px;
    color: white;


}

/* BOTONES */
#btnVotar{
display: block;
margin: 0 auto;
width:9em;
margin-top: 2%;
font-size: 2em;
}

.btnPersonalizado{
background-color: black !important;
border-color: black !important;
}
/* TEXTOS */

p,h2,form{
       font-family:"FuenteFoto"; 
       text-align: justify;

}

.txtFooter{
 font-size: 1em;
 padding: 0.5em;
 margin-top: 0.6em;
 color: #9d9d97;


}

.txtVotar{

    text-align: center;
    font-size: 3em;
    color: white;

}
a{

    font-size: 1.3em;
}

.movimiento{
    opacity:0;
    
}

.movimiento2{
    opacity:0;
    
}

.movimiento3{
    opacity:0;
    
}


/* ESTILOS ESTRUCTURA/COLOR*/
.negro{
background-color: black !important;
width: auto;
}

.marginTop{
    margin-top: 6%;
}

.centrado{
    display: block;
    margin-left: auto;
    margin-right: auto;          
}

.marginTxt{

    padding-right: 90px;
}

.marginTxtL{

    padding-left:90px;
}

.fondoGris {

    background-color:#252524 !important;
}

/* ESTILOS REGISTRAR */

label{
 color: #9d9d97;
font-size: 16px;
font-weight:100;
}

.btnFormulario{
    height: 40px !important;
    width: 100px !important;
    font-size: 17px !important;
    margin-bottom: 150px;
    padding: 0px !important;
    border: 0;

}

/* ESTILOS LOGIN */

.btnLogin{
  
    margin-bottom: 270px !important;

}

/* PANEL CONTROL */

.userName{
margin-top: -0.1em !important;
text-align: center !important;
 color: #9d9d97 !important;
font-size: 3em !important;
font-family:"FuenteFoto" !important; 
margin-bottom: 20px;

}

.colorGrey{
color: #9d9d97 !important;
}

.btnLargo{

    width: 150px !important;
    height: 40px !important;
}



/*MENU ADMIN*/

.adminSlider:link{

color: #9d9d97 !important;

}

.adminSlider:hover{

color: #9d9d97 !important;

}

a {
    color: #9d9d97;
    text-decoration: none;
}


a:hover{
    color: black;
    text-decoration: none;
}



.tituloCategorias{
text-align: center !important;
font-size: 30px;
color: #9d9d97 !important;

}

.Naturaleza{


    background-image: url('../image/btn/Btnnaturaleza.png') !important;
   background-repeat: no-repeat;
  height: 184px;
  width: 190px;
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}


.Naturaleza:hover{


    background-image: url('../image/btn/BtnnaturalezaHover.png') !important;
  

}

.Artístico{

    background-image: url('../image/btn/BtnArtistico.png') !important;
    background-repeat: no-repeat;
    height: 184px;
    width: 190px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}


.Artístico:hover{
    background-image: url('../image/btn/BtnArtisticoHover.png') !important;
}

.Urbano{


    background-image: url('../image/btn/BtnUrbano.png') !important;
   background-repeat: no-repeat;
  height: 184px;
  width: 190px;
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}


.Urbano:hover{
    background-image: url('../image/btn/BtnUrbanoHover.png') !important;
}

.sintitulo{
    background-image: url('../image/btn/BtnDesconocido.png');
    background-repeat: no-repeat;
    height: 184px !important;
    width: 190px !important;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.sintitulo:hover{
    background-image: url('../image/btn/BtnDesconocidoHover.png');
}

/* CARGAR IMAGENES VOTACIONES*/
.marginFoto{
    margin-top:20px !important;
    border-radius: 10px;

}

.btnDebajoImagen{
    height: 40px !important;
    width: 100px !important;
    font-size: 17px !important;
    padding: 0px !important;
    border: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.btnMarginTop{

    margin-top: 10px;
}


.btnIm{

    margin: 10px !important;
    width: 170px !important;
    height: auto;
}


.btnMarginTopP{

      margin-top: 10px !important;
    width: 170px !important;
    height: auto;


}

span{

    font-size: 16px;
}


a{

    font-size: 16px;
}