/* ESTRUCTURA GENERICA */


html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}


@font-face {
    font-family: FuenteFoto;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

p{
    color: #9d9d97;
    font-size: 1.6em;
}

h2{

    font-size: 2em;
    color: white;
}


p,h2,form{
       font-family:"FuenteFoto"; 
       text-align: left;

}

a{

    font-size: 1.3em;
}


label{
 color: #9d9d97;
font-size: 16px;
font-weight:100;
}


span{

    font-size: 16px;
}


a{

    font-size: 16px;
}


a {
    color: #9d9d97;
    text-decoration: none;
}


a:hover{
    color: black;
    text-decoration: none;
}

.form-group a{

color: #9e1b57;
font-weight: 500;
text-decoration: none;
}

.form-group a:hover{
   color: white; 
}

.modal{
       font-family:"FuenteFoto";    
}

.modal p {

    font-size: 1.2em;
}



/* ESTILOS GENERICOS */

.nomarggin{
 margin:0px;
 padding:0px;
}

.row{
    margin:0;
     padding:0;
    
}


.centrado{
    display: block;
    margin-left: auto;
    margin-right: auto;          
}


.marginTop{
    margin-top: 6%;
}



.marginTxt{

    padding-right: 90px;
}

.marginTxtL{

    padding-left:90px;
}

.fondoGris {

    background-color:#252524 !important;
}


/* ESTILOS INDEX */

.fondoVotar{
background-image: url('../image/votaFotos.jpg');
background-repeat:no-repeat;
min-height: 300px;
padding: 0px;
background-size: cover;
}

.carousel-inner {
    height: 100%;
}

.carousel-indicators{
}


.movimiento{
    opacity:0;
    
}

.movimiento2{
    opacity:0;
    
}

.movimiento3{
    opacity:0;
    
}



/* ESTILOS BOTONES */


.btnRegistrarse{

    background-color:#9d9d97 !important;
    border-color:#9d9d97 !important;
    color: black  !important;

}

.btnRegistrarse:hover{
    background-color:#252524 !important;
    border-color: #252524 !important;
    color: white !important;

}

.btnPersonalizado:hover{
background-color: #9d9d97 !important;
border-color: #9d9d97 !important;
}




.btnFormulario{
    height: 40px !important;
    width: 100px !important;
    font-size: 17px !important;
    margin-bottom: 150px;
    padding: 0px !important;
    border: 0;

}


#btnVotar{
display: block;
margin: 0 auto;
width:9em;
margin-top: 2%;
font-size: 2em;
}

.btnPersonalizado{
background-color: black !important;
border-color: black !important;
}



.btnDebajoImagen{
    height: 40px !important;
    width: 100px !important;
    font-size: 17px !important;
    padding: 0px !important;
    border: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.btnMarginTop{

    margin-top: 10px;
}


.btnIm{

    margin: 10px !important;
    width: 170px !important;
    height: auto;
}


.btnMarginTopP{

      margin-top: 10px !important;
    width: 170px !important;
    height: auto;


}


.btnLogin{
  
    margin-bottom: 270px !important;

}




/* TEXTOS */


.txtFooter{
 font-size: 1em;
 padding: 0.5em;
 margin-top: 0.6em;
 color: #9d9d97;

}

.txtVotar{

    text-align: center;
    font-size: 3em;
    color: white;

}



/* ESTILOS ESTRUCTURA/COLOR*/
.negro{
background-color: black !important;
width: auto;
}


/* ESTILOS REGISTRAR */



/* ESTILOS LOGIN */


/* PANEL CONTROL */

.userName{
margin-top: -0.1em ;
text-align: center !important;
 color: #9d9d97 !important;
font-size: 3em !important;
font-family:"FuenteFoto" !important; 
margin-bottom: 20px;

}

.colorGrey{
color: #9d9d97 !important;
}

.btnLargo{

    width: 150px !important;
    height: 40px !important;
}



/*MENU ADMIN*/

.adminSlider:link{

color: #9d9d97 !important;

}

.adminSlider:hover{

color: #9d9d97 !important;

}



.tituloCategorias{
text-align: center !important;
font-size: 30px;
color: #9d9d97 !important;

}


/* CARGAR IMAGENES VOTACIONES*/
.marginFoto{
    margin-top:20px !important;
    border-radius: 10px;

}

.imgVotacion{

    min-height: 210px;
    width: auto;
}


.btnCategorias{
    width: 150px;
    height: 150px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background: #252524;
    border-radius: 100%;
}


.btnCategorias:hover{

    background: grey;
}



.iconoCategorias{


    padding: 30px;
    font-size: 80px !important;
    border-radius: 100%;
    


  background: rgba(86,159,153,1);
background: -moz-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86,159,153,1)), color-stop(12%, rgba(220,220,33,1)), color-stop(31%, rgba(247,234,57,1)), color-stop(52%, rgba(220,142,26,1)), color-stop(68%, rgba(183,18,81,1)), color-stop(85%, rgba(138,30,89,1)), color-stop(100%, rgba(89,39,127,1)));
background: -webkit-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -o-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -ms-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: linear-gradient(to right, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569f99', endColorstr='#59277f', GradientType=1 );





      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: ;  
  color: transparent;  


}




.fondoDegradado{
  background: rgba(86,159,153,1);
background: -moz-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86,159,153,1)), color-stop(12%, rgba(220,220,33,1)), color-stop(31%, rgba(247,234,57,1)), color-stop(52%, rgba(220,142,26,1)), color-stop(68%, rgba(183,18,81,1)), color-stop(85%, rgba(138,30,89,1)), color-stop(100%, rgba(89,39,127,1)));
background: -webkit-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -o-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -ms-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: linear-gradient(to right, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569f99', endColorstr='#59277f', GradientType=1 );


}





/* Icono descarga */

.lg-download{

visibility:hidden;
display: none;
} 




footer{

    margin-top: 50px !important;
}

