
.userName{

margin-top: 0.9em !important;

}




.misFotos{

	padding-left: 0px !important;
}


.miniFoto{

	border: 5px solid #fff;
	border-radius: 4px;
	width: auto;
}

.barraFondo{

	height: 3px;
	width: 98% !important;
	margin-bottom: 15px;


	background: rgba(86,159,153,1);
background: -moz-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86,159,153,1)), color-stop(12%, rgba(220,220,33,1)), color-stop(31%, rgba(247,234,57,1)), color-stop(52%, rgba(220,142,26,1)), color-stop(68%, rgba(183,18,81,1)), color-stop(85%, rgba(138,30,89,1)), color-stop(100%, rgba(89,39,127,1)));
background: -webkit-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -o-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: -ms-linear-gradient(left, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
background: linear-gradient(to right, rgba(86,159,153,1) 0%, rgba(220,220,33,1) 12%, rgba(247,234,57,1) 31%, rgba(220,142,26,1) 52%, rgba(183,18,81,1) 68%, rgba(138,30,89,1) 85%, rgba(89,39,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569f99', endColorstr='#59277f', GradientType=1 );

}


h2 {
    font-size: 2.5em !important;
    color: white;
    margin-bottom: -10px !important;
    text-align: left !important;
    padding: 0px !important;
    margin-left: 0px !important;
    	padding-left: 0px !important;
    	color: #9d9d97 !important;

}



h4{
    	color: #e8e8e8 !important;
    	width: auto;
float: left;
margin-left: 10px;
font-size: 21px !important;


}


.colTxtLeft{

	padding-left: 0px !important;
}


.iconOjo{

	padding-top: 0.4em;
	padding-right: 0.8em;
	text-align: center;
	height: auto;
	float: right !important;

}



.iconOjo:hover{

		cursor:help;

}





.fondoImg{

	background: #969696;
border-radius: 2px;
padding-bottom: 10px;
overflow: hidden;

border: 5px solid #ddd;
border-radius: 4px;
}




/* HOME */

h5{

	text-align: center;
    color: #a0a19a !important;

}


.imgPerfil{

	text-align: center;
	margin: 0 auto;
}


.txtUser{

	font-size: 18px;
    text-transform: uppercase;
    color: #a0a19a;

 }


 .contentPerfil{
	border: 2px solid #ddd;
	border-radius: 10px;
	padding: 20px;
 }


 .posicion{
	width: 100px;
	height: 100px;
    background-image: url("../image/Posicion.png");
    text-align: center;
	margin: 0 auto;

 }


 .eleCentrados{
    text-align: center;
	margin: 0 auto;


 }


 .pos{
 	padding-top: 22% !important;
	padding-right: 2% !important;
	color: black;
 }

 .fa-camera{

 	float: left;
 	padding: 5px;
	font-size: 21px !important;
	color: #a0a19a;
 }


.fa-thumbs-up{

 	float: left;
 	padding: 5px;
	font-size: 23px !important;
	color: #a0a19a;
 }



.categoriaTxt{

	margin-top: 60px;
}


.imgMasVotada{

	border-radius: 10%;
}


.masVotada{
	margin-top: 30px;
	margin-bottom: 30px;


}


.minTit{

    font-size: 23px;
    margin-bottom: 15px;
    text-transform: uppercase;
}


/* IMAGE SAME SIZE RADIO*/

.item-image {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 60%; /* here the desired aspect ratio */
}
.item-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.item-content {
  padding: 15px;
  background: #72cffa;
}
.item-text {
  position: relative;
  overflow: hidden;
  height: 100px;
}








